body {
  font-family: "Open Sans", sans-serif;
}

.intro h1 {
  font-size: 40px;
}

.intro p {
  font-size: 20px;
}

.heading h1 {
  font-size: 35px;
  font-weight: bold;
}

.website-container h1 {
  font-size: 30px;
  margin-block-start: auto;
}

.website-container img {
  box-shadow: 5px 5px 5px 0px #888888;
}

.fa-github {
  color: black;
}

.fa-github:hover {
  color: rgb(141, 141, 141);
}

.fa-file-alt:hover {
  color: rgb(141, 141, 141);
  cursor: pointer;
}

/* about-me */

.html-icon {
  color: #e44d26;
  margin: 10px;
}

.css-icon {
  color: #0f5298;
  margin: 10px;
}

.js-icon {
  color: #f0db4f;
  margin: 10px;
}

.react-icon {
  color: #61dbfb;
  margin: 10px;
}
