/* global */

body {
  font-family: "Open Sans", sans-serif;
  color: rgb(66, 66, 66);
}

/* all-pages nav-bar */

.nav-wrapper {
  background-color: white;
  box-shadow: none;
}

.nav-wrapper ul a,
.line-divider {
  color: rgb(66, 66, 66);
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.nav-wrapper ul a:hover {
  background-color: white;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  height: 90px;
  line-height: 90px;
}

.sidenav-trigger {
  color: teal;
}

/* portfolio */

.heading h1 {
  font-size: 40px;
  font-weight: bold;
  padding-left: 20px !important;
}

.website-container h1 {
  font-size: 30px;
  margin-block-start: auto;
}

.website-container img {
  box-shadow: 5px 5px 5px 0px #888888;
}

.fa-github {
  color: black;
}

.fa-github:hover {
  color: rgb(88, 88, 88);
}

.fa-file-alt:hover {
  color: rgb(141, 141, 141);
  cursor: pointer;
}

/* about-me */

.html-icon {
  color: #e44d26;
  margin: 10px;
}

.css-icon {
  color: #0f5298;
  margin: 10px;
}

.js-icon {
  color: #f0db4f;
  margin: 10px;
}

.react-icon {
  color: #61dbfb;
  margin: 10px;
}

.aspirations {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

/* contact me */

.fa-linkedin {
  color: #006192;
}

.fa-linkedin:hover {
  color: #0091df;
}
