/* global */
* {
  margin: 0;
  padding: 0;
}

/* navigation bar */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #b93232;
  width: 100%;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.nav-bar ul li a {
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.856);
  padding: 20px;
}

.nav-bar ul li a:hover {
  background-color: #6767c4;
}

/* about me */
/* body */
.about-me {
  text-align: center;
  padding-top: 270px;
  padding-bottom: 270px;
  background-color: #505050;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* text */
.about-me h1 {
  font-size: 50px;
  font-weight: 600;
  color: white;
}

.about-me p {
  font-size: 25px;
  color: #b93232;
  font-style: italic;
}

.button-to-projects {
  padding: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-top: 50px;
  background-color: #6767c4;
  color: rgba(255, 255, 255, 0.856);
  outline: none;
  border: none;
  cursor: pointer;
}

/* my projects */
/*  body */
.my-projects {
  background-color: #6767c4;
  padding-top: 12%;
  padding-bottom: 5%;
  color: rgba(255, 255, 255, 0.856);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* title */
.my-projects .heading {
  padding: 20px;
  margin-top: -150px;
  border-bottom: 2px solid white;
}

.my-projects .heading h1 {
  font-size: 45px;
  font-weight: 600;
}

/* projects displayed */
.project-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.my-projects .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
  width: 100%;
}

.project-title h1 {
  font-size: 20px;
  font-weight: 300;
}

.site-link {
  height: 350px;
  max-width: 380px;
}

.projects h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(184, 187, 187, 0.5);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: -4px;
  margin-bottom: 30px;
  max-width: 380px;
}

.project-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.856);
}

.button-to-contact {
  padding: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.856);
  color: #6767c4;
  outline: none;
  border: none;
  cursor: pointer;
}

/* contact me */
/* body */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 250px;
  padding-bottom: 250px;
  background-color: #505050;
  color: rgba(255, 255, 255, 0.856);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* text */
.contact h1 {
  font-size: 55px;
}

.contact p {
  margin-top: 20px;
  font-size: 25px;
  font-style: italic;
}

.fa-github,
.fa-linkedin {
  max-width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  color: black;
  margin-left: 10px;
}

.fa-github:hover,
.fa-linkedin:hover {
  color: white;
  -webkit-transition: ease-in 0.1s;
  transition: ease-in 0.1s;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 3px solid #b93232;
  padding: 40px;
  background-color: #505050;
  color: rgba(255, 255, 255, 0.856);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* mobile version */
@media screen and (max-width: 600px) {
  /* navigation bar */
  .container {
    max-width: 480px;
  }
  .nav-bar {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-bar ul li a {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  .nav-bar ul li a:hover {
    background-color: #6767c4;
  }
  /* about me */
  .about-me {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #303030;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .button-to-projects {
    display: none;
  }
  /* my projects - title */
  .my-projects {
    padding-top: 10%;
  }
  .my-projects .heading h1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 110px;
  }
  /* my projects - projects displayed */
  .my-projects .projects {
    margin-left: 0px;
  }
  .site-link {
    height: 250px;
    min-width: 280px;
    max-width: 280px;
    padding-right: 0px;
  }
  .projects h1 {
    margin-right: 0px;
    max-width: 280px;
  }
  /* contact me */
  .contact {
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .contact h1 {
    padding-top: 50px;
    font-size: 35px;
  }
  .icon-link {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */